---
kind: ConfigMap
apiVersion: v1
metadata:
  name: cm-app-task-properties-{{ canary_suffix }}
  labels:
    templates/type: app
data:
  application.properties: |-
    server.port=8080
    server.shutdown=graceful

    spring.main.banner-mode=off
    spring.application.name={{ os_project.name }}-task
    spring.profiles.active=default

    server.servlet.encoding.charset=UTF-8
    server.servlet.encoding.force=true
    server.servlet.encoding.enabled=true
    server.servlet.context-path=/task
    server.tomcat.uri-encoding=UTF-8

    management.endpoints.enabled-by-default=true
    management.endpoints.web.exposure.include=health,prometheus
    management.endpoints.jmx.exposure.include=*
    management.endpoint.health.probes.enabled=true
    management.endpoint.health.show-details=always
    management.metrics.tags.application={{ os_project.name }}-task
    management.metrics.export.prometheus.enabled=true

    # Application Journal
    appjournal.moduleId=pprb4-digital-{{ os_project.name }}

{% for entry in integration_entries | flatten %}
{% if entry.ci is defined and entry.health_path is defined %}
    health.http.endpoint[{{ entry.ci }}_{{ entry.name }}].url=http://{{ entry.host }}{{ ':' ~ entry.istio_mesh_port if entry.istio_mesh_port is defined }}{{ entry.health_path }}
{% endif %}
{% endfor %}
  jvm-arguments: |-
