---
kind: ConfigMap
apiVersion: v1
metadata:
  name: cm-app-task-properties-{{ canary_suffix }}
data:
  application.properties: |-
    server.port=8080
    server.shutdown=graceful

    spring.main.banner-mode=off
    spring.application.name={{ os_project.name }}-task
    spring.profiles.active=default

    server.servlet.encoding.charset=UTF-8
    server.servlet.encoding.force=true
    server.servlet.encoding.enabled=true
    server.tomcat.uri-encoding=UTF-8

    management.endpoints.enabled-by-default=true
    management.endpoints.web.exposure.include=health,prometheus
    management.endpoints.jmx.exposure.include=*
    management.endpoint.health.probes.enabled=true
    management.endpoint.health.show-details=always
    management.metrics.tags.application={{ os_project.name }}-task
    management.metrics.export.prometheus.enabled=true

    # Application Journal
    appjournal.moduleId=pprb4-digital-{{ os_project.name }}

    standin.cloud.client.mmtCallTimeout=30
    standin.cloud.client.heartBeatPeriod=1000
    standin.cloud.client.concurrency=10
    standin.cloud.client.groupId=group_1
    standin.cloud.client.kafka.producerConfig."[security.protocol]"=SSL
    standin.cloud.client.kafka.producerConfig."[ssl.keystore.location]"=/opt/keystore/kafka/server.keystore.jks
    standin.cloud.client.kafka.producerConfig."[ssl.truststore.location]"=/opt/keystore/kafka/trust.jks
    standin.cloud.client.kafka.producerConfig."[ssl.keystore.type]"=JKS
    standin.cloud.client.kafka.producerConfig."[ssl.truststore.type]"=JKS
    standin.cloud.client.kafka.producerConfig."[ssl.protocol]"=TLS
    standin.cloud.client.kafka.producerConfig."[ssl.enabled.protocols]"=TLSv1.2
    standin.cloud.client.kafka.producerConfig."[ssl.endpoint.identification.algorithm]"=
    standin.cloud.client.kafka.consumerConfig."[security.protocol]"=SSL
    standin.cloud.client.kafka.consumerConfig."[ssl.keystore.location]"=/opt/keystore/kafka/server.keystore.jks
    standin.cloud.client.kafka.consumerConfig."[ssl.truststore.location]"=/opt/keystore/kafka/trust.jks
    standin.cloud.client.kafka.consumerConfig."[ssl.keystore.type]"=JKS
    standin.cloud.client.kafka.consumerConfig."[ssl.truststore.type]"=JKS
    standin.cloud.client.kafka.consumerConfig."[ssl.protocol]"=TLS
    standin.cloud.client.kafka.consumerConfig."[ssl.enabled.protocols]"=TLSv1.2
    standin.cloud.client.kafka.consumerConfig."[ssl.endpoint.identification.algorithm]"=

{% for entry in integration_entries | flatten %}
{% if entry.ci is defined and entry.health_path is defined %}
    health.http.endpoint[{{ entry.ci }}_{{ entry.name }}].url=http://{{ entry.host }}{{ ':' ~ entry.istio_mesh_port if entry.istio_mesh_port is defined }}{{ entry.health_path }}
{% endif %}
{% endfor %}
  jvm-arguments: |-
