---
apiVersion: v1
kind: ConfigMap
metadata:
  name: waiting-secrets-{{ canary_suffix }}
data:
  waitingSecrets.txt: |-
{% if secman.openshift.enabled is not defined or secman.openshift.enabled | bool %}
{% for secret in (secman.openshift.inject_secrets.app | default({})).values() if secret.condition is not defined or secret.condition %}
{% for file_name in secret.secrets.keys() %}
    {{ '/vault/secrets/environments' if secret.type == 'environment' else secret.volume.mount }}/{{ file_name }}
{% endfor %}
{% endfor %}
{% endif %}
