---
kind: ConfigMap
apiVersion: v1
metadata:
  name: cm-app-sink-properties-{{ canary_suffix }}
data:
  application.properties: |-
    server.port=8080
    server.shutdown=graceful

    spring.main.banner-mode=off
    spring.application.name={{ os_project.name }}-sink
    spring.profiles.active=default

    server.servlet.encoding.charset=UTF-8
    server.servlet.encoding.force=true
    server.servlet.encoding.enabled=true
    server.servlet.context-path=/sink
    server.tomcat.uri-encoding=UTF-8

    management.endpoints.enabled-by-default=true
    management.endpoints.web.exposure.include=health,prometheus
    management.endpoints.jmx.exposure.include=*
    management.endpoint.health.probes.enabled=true
    management.endpoint.health.show-details=always
    management.metrics.tags.application={{ os_project.name }}-sink
    management.metrics.export.prometheus.enabled=true

    # Kafka Indexing
    app.kafka.indexing.consumer.topic={{ app.kafka.indexing.consumer.topic }}
    app.kafka.indexing.consumer.session-timeout={{ app.kafka.indexing.consumer.session_timeout }}
    app.kafka.indexing.consumer.poll_time=10000
    app.kafka.indexing.bootstrap-servers={{ app.kafka.indexing.bootstrap_servers }}
    app.kafka.indexing.consumer.client-id={{ app.kafka.indexing.consumer.client_id }}
    app.kafka.indexing.consumer.group-id={{ app.kafka.indexing.consumer.group_id }}
    app.kafka.indexing.consumer.enable-auto-commit={{ app.kafka.indexing.consumer.enable_auto_commit }}
    app.kafka.indexing.consumer.auto-offset-reset={{ app.kafka.indexing.consumer.auto_offset_reset }}
    app.kafka.indexing.consumer.key-deserializer={{ app.kafka.indexing.consumer.key_deserializer }}
    app.kafka.indexing.consumer.value-deserializer={{ app.kafka.indexing.consumer.value_deserializer }}

    # Application Journal
    appjournal.moduleId=pprb4-digital-{{ os_project.name }}

{% for entry in integration_entries | flatten %}
{% if entry.ci is defined and entry.health_path is defined %}
    health.http.endpoint[{{ entry.ci }}_{{ entry.name }}].url=http://{{ entry.host }}{{ ':' ~ entry.istio_mesh_port if entry.istio_mesh_port is defined }}{{ entry.health_path }}
{% endif %}
{% endfor %}
  jvm-arguments: |-
